<section class="mb-5">
    <div class="card bg-dark border-light mt-5 animated"> 
      <mat-card class="example-card"> 
        <mat-card-title-group>
          <mat-card-title>Comentarios:</mat-card-title>
        </mat-card-title-group>
              <!-- Cards with media area -->
                <mat-card class="example-card" *ngFor="let comment of comments | paginator:page_size:page_number"> 
                  <mat-card-title-group>
                    <mat-card-title>{{comment.name}}</mat-card-title>
                    <mat-card-actions>
                      <button mat-raised-button color="warn" (click)="deleteComment(comment.id)" class="btn btn-dark" >Eliminar</button>
                    </mat-card-actions>
                  </mat-card-title-group>
                  <mat-card-content>
                    {{comment.body}}
                  </mat-card-content>
                </mat-card> 
                <div class="text-center d-grid gap-2 col-2 mx-auto">
                  <button mat-stroked-button color="primary" (click)="setCommentDate()">Emitir</button>
                </div>           
            <mat-paginator [length]="comments.length" [pageSize]="page_size" [pageSizeOptions]="[5, 10, 25, 50 ]" (page)="handlePage($event)" aria-label="Select page"></mat-paginator>
        </mat-card> 
    </div>
</section>

<form [formGroup]="form" (ngSubmit)="saveComment()" class="my-4" autocomplete="off">
    <fieldset>
      <legend class='ms-5 mt-3'>Nuevo Comentario</legend>
      <input class="form-control mt-3 mb-1" formControlName="name" id="nombre" placeholder="Nombre" type="text"
        aria-describedby="validationName" [ngClass]="{'is-invalid':isInvalid('name'),'is-valid':isValid('name')}" />
      <span class='form-text text-start text-danger' *ngIf='isInvalid("name")'>
        {{form.controls['name'].errors?.['required'] && 'Campo requerido'}}
        {{form.controls['name'].errors?.['minlength'] && 'Minimos 3 letras'}}
      </span>
      <input class="form-control mt-3 mb-1" formControlName="email" type="email" placeholder="info@mobydigital.com"
        aria-describedby="validationEmail" [ngClass]="{'is-invalid':isInvalid('email'),'is-valid':isValid('email')}" />
      <span class='form-text text-start text-danger' *ngIf='isInvalid("email")'>
        {{form.controls['email'].errors?.['required'] && 'Campo requerido'}}
        {{form.controls['email'].errors?.['email'] && 'El correo ingresado No es valido'}}
      </span>
      <textarea class="form-control mt-3 mb-1" formControlName="body" id="mensaje"
        placeholder="Agrega tus comentarios aqui" rows="10"
        [ngClass]="{'is-invalid':isInvalid('body'),'is-valid':isValid('body')}"></textarea>
      <span class='form-text text-start text-danger' *ngIf='isInvalid("body")'>
        {{form.controls['body'].errors?.['required'] && 'Campo requerido.'}}
        {{form.controls['body'].errors?.['maxlength'] && 'El comentario no puede superar los 500 caracteres.'}}
      </span>
      <div class='button-form'>
        <button mat-raised-button color="primary" [ngClass]="{'btn-danger':form.invalid}" type="submit"
          [disabled]="form.invalid">
          Agregar
        </button>
        <button mat-raised-button color="warn" (click)='this.form.reset()' [disabled]="!form.touched"
          type='button'>Limpiar</button>
      </div>
    </fieldset>
  </form>

