<div class="table-container">
    <h1 class="title">List Post</h1>

    <table class="table">
        <thead>
        <tr>
            <th class="text-center align-middle" scope="col">ID</th>
            <th class="text-center align-middle" scope="col">Post</th>
            <th class="text-center align-middle" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | paginator:page_size:page_number">
            <th class="text-center align-middle" scope="row">{{post.id}}</th>
            <td class="text-center align-middle">{{post.title}}</td>
            <td class="text-center align-middle"><a routerLink="/post/{{post.id}}">
                <button mat-raised-button color="primary">+ Info</button></a></td>
        </tr>
        </tbody>
  </table>
  <mat-paginator [length]="posts.length" [pageSize]="page_size" [pageSizeOptions]="[10, 50, 100]" (page)="handlePage($event)" aria-label="Select page"></mat-paginator>
</div>
