<div class = "post-container">
    <mat-card class="example-card"> 
        <mat-card-title-group>
            <mat-card-subtitle>Details Post : {{post.id}}</mat-card-subtitle>
            <mat-card-subtitle *ngIf="dateLastComment">Último comentario: {{dateLastComment | date:"short" }}</mat-card-subtitle>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-actions>
            <a routerLink="/posts">
                <button mat-button class="btn btn-dark" >Go to Home</button>
            </a>
          </mat-card-actions>
        </mat-card-title-group>
        <mat-card-content>
          {{post.body}}
        </mat-card-content>
        <app-comment  (commentDate)="setDateComment($event)" [postId]="post.id"></app-comment>
      </mat-card> 
</div>
